@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #EEEEEE;
  /* light mode chat background */
  --foreground: #454545;
  /* light mode text color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #080808;
    /* chat background */
    --foreground: #000000;
    /* ai text color */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}